# Pripojenie na Postgres databázu (napr. z neon.tech, zadarmo)
DATABASE_URL="postgresql://neondb_owner:npg_SGO0U6rMTahj@ep-green-hall-a5pc600c-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DIRECT_DATABASE_URL="postgresql://neondb_owner:npg_SGO0U6rMTahj@ep-green-hall-a5pc600c-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Vygeneruj príkazom: openssl rand -base64 32
NEXTAUTH_SECRET="nNNR06Me/NPrGsxKYjAVxw2/1hy2HuiEVTfLSSk+/e0="
NEXTAUTH_URL="http://localhost:3000"

# Prvý administrátorský účet — vytvorí sa pri "npx prisma db seed"
ADMIN_EMAIL="punisheredna@punisheredna.com"
ADMIN_PASSWORD="123456789qQ"
ADMIN_NAME="PunisherEDNA"

CLOUDINARY_CLOUD_NAME="nj1phxed"
CLOUDINARY_API_KEY="351554665588214"
CLOUDINARY_API_SECRET="bcR-mxzunmiIrXbOBIZFC8YTwtE"

TMDB_READ_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI3ODllMjFlOTE1MGFlZDlmZGM4NWQyYjVmMzNiM2Q1ZCIsIm5iZiI6MTc4ODI3MTkwNC45MDgsInN1YiI6IjZhOTZkZDIwMmViMTUzMWRkY2JlYTJlMiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.N29doZX7i36O669Rw0g8iZn4Tt19VKX4cpQgoEoYmJc